@{
    ViewBag.Title = "Contact";
}

<span></span>
<span></span>
<address>
    Trips and Reviews
    23489 Adventure Way
    San Fransisco, CA
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:laburdette@gmail.com">laburdette@gmail.com</a><br />
    
</address>