
@{
    ViewBag.Title = "Home Page";
}

<style>
    body { 
        background-image: url('../../Content/mainpagecabin.JPG') ; background-repeat:no-repeat;  background-size:cover;
    }
</style>
<div class="jumbotron vertical-center">
    <h1>Trips and Reviews</h1>
    <p class="lead">Welcome to Trips and Reviews Online!  Check out what we have to offer if you're travelling around the US</p>
    <p><a href="#" class="btn btn-danger btn-sm">Enter our site</a></p>
</div>


   
