@{
    ViewBag.Title = "Reviews";
}
<h2></h2>
<h3></h3>

<div class="container">
    <div class="row">
        <div class="col-xs-6, col-sm-6, col-md-6, col-lg-6">
            
            <h4>Jennifer's Review of Aruba</h4>
            <p>
            Perhaps the highlight of the entire resort is Druif Beach, a long, oval-shaped stretch of white sand that is free of debris and sharp objects. Not only is the area safe -- the beach is home to many Low-Rise resorts -- but the views face directly west for outstanding sunsets. The beach is cleaned daily, and because of the great expanse, it is impossible to feel crowded. The shore has lapping turquoise waves resembling a postcard -- great for swimming and long barefoot strolls in either direction. In fact, guests can walk all the way to Eagle Beach and beyond. All beaches in Aruba are public so there are no off-limits areas to worry about.
            </p><p><a href="https://www.oyster.com/aruba/hotels/roundups/best-beach-hotels-in-aruba/">Read the rest of the review at Oyster.com</a>
            </p>
        </div>
    
        <div class= "col-xs-6, col-sm-6, col-md-6, col-lg-6" >
            <div class="div-photo">
                <img src="~/Content/jenniferhotel.jpg" class="img-responsive" />
           </div>
            </div>
        </div>
    </div><!--end of review-->
       
    <div class="container">
    <div class="row">
        <div class="col-xs-6, col-sm-6, col-md-6, col-lg-6">

            <h4>Ashley's Review of Detroit</h4>
            <p>
                Extremely convenient Westin hotel in Detroit. Easy walking to Greektown, Comerica Stadium, People Mover. Quick Uber to Detroit Institute of Arts. And important in often grey-skied Michigan---huge windows in the serene second floor lounge and the breakfast restaurant, and the rooms as well. Even many bathrooms have windows!
            </p><p>
                <a href="http://www.starwoodhotels.com/westin/property/reviews/index.html?propertyID=3001&ES=LPS_3001_EN_WI_NAD">Read the rest of the review at Westin Hotels</a>
            </p>
        </div>

        <div class="col-xs-6, col-sm-6, col-md-6, col-lg-6">
            <div class="div-photo">
                <img src="~/Content/ashleyhotel.jpg"
                class="img-responsive" />
            </div>
        </div>
    </div>
</div><!--end of review-->

<div class="container">
    <div class="row">
        <div class="col-xs-6, col-sm-6, col-md-6, col-lg-6">

            <h4>John's Review of The Poconos</h4>
            <p>
                A myriad of nature-filled activities await within a few hours' drive of most major Northeast cities, including overnight packages to bring out the hiker, botanist or waterpark lover in travelers of all ages. You can fulfill all of your vacation needs here, from the fast-paced excitement of your favorite outdoor activity, to the exceptional performances of our theaters and concerts. Tour a living history museum in the morning, unwind at a brew pub in the afternoon and dine in an elegant restaurant in the evening. Ski the slopes of a resort by day and relax in a historic bed & breakfast at night. Browse countless antique shops or search for a bargain in our outlet stores. Stretch out on a sandy beach at a lake or marvel at the sights while floating down a river. 
            </p><p>
                <a href="https://www.poconomountains.com/things-to-do/">Read the rest of the review at PoconoMountains.com</a>
            </p>
        </div>

        <div class="col-xs-6, col-sm-6, col-md-6, col-lg-6">
            <div class="div-photo">
                <img src="~/Content/johnbnb.jpg"
                class="img-responsive" />
            </div>
        </div>
    </div>
</div><!--end of review-->

<div class="container">
    <div class="row">
        <div class="col-xs-6, col-sm-6, col-md-6, col-lg-6">

            <h4>Bill's Review of Denver</h4>
            <p>
                This Retreat at CityGal Farms is a 700 sq.ft. guesthouse located on our urban farm where we grow veggies and cut flowers. The Retreat contains the VI Spring luxury handmade king-size mattress and organic bedding, where you can experience the ultimate in sleep luxury. During our growing season, enjoy just-picked produce and create your own masterpieces in the fully stocked kitchen, complete with proper knives and pans. Located 15 minutes West of downtown Denver, the Retreat offers a unique farm in the city experience.
            </p><p>
                <a href="https://www.tripadvisor.com/VacationRentalReview-g33388-d7646115-The_Retreat_at_CityGal_Farms-Denver_Colorado.html">Read the rest of the review at TripAdvisor.com</a>
            </p>
        </div>

        <div class="col-xs-6, col-sm-6, col-md-6, col-lg-6">
            <div class="div-photo">
                <img src="~/Content/billcabin.jpg"
                class="img-responsive" />
            </div>
        </div>
    </div>
</div><!--end of review-->

